.button{
  position: relative;
  color: Black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.button:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  opacity: 0;
  top: 35px;
  border-radius: 20px;
  left: 10px;
  background-color: black;
  z-index: 100;
  transition: opacity .1s linear;
}

.button:hover::after{
  opacity: 1;
}