.button{
    border-radius: 10px;
    color: Black;
    border: 4px solid black;
    background-color: rgb(255, 179, 255);
    cursor: pointer;
  }
  
.button:hover{
    background-color:rgb(255, 199, 255);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.493);
  }