.container{
    z-index: 100;
    width:100%;
    position: fixed;
    top: 0;
    height: 70px;
    background-color: var(--primary-color);
    transition: background-color .2s ease-in-out;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid black;
}

.logo{
    margin-left: 1rem;
}

.nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.navList{
    padding: 0 .5rem;
    width: 100%;
    margin: 0 5rem 0 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.navList > li{
    font-size: 1.2rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > h2{
    margin: 0 0;
}

.sideButton{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.sideButton > svg{
    width: 40px;
    height: 30px;
}

.themeButton{
    margin-left: 4rem;
    background-color: var(--colors-primary);
    border-radius: 10px;
    border: 3px solid black;
    padding: 0 .1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;


    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: -1px;
        z-index: 10;
        background-color: whitesmoke;
        width: 20px;
        height: 85%;
        border-radius: 10px;
        border: 3px solid black;
        transition: transform .3s ease-in-out;
    }
}

.themeButtonDark{
    composes: themeButton;

    &:after{
        transform: translateX(100%);
    }
    
}
