.logo{
  font-size: 100px;
}

.main{
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome{
  margin: 0 auto;
  width: 50%;
}

.button{
  margin-top: 4rem;
}
