.container{
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

.title{
    font-size: 3em;
}

.description{
    margin-top: 3rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    font-weight: 500;
    font-size: 1.3em;
}

.steps{
    background-color: var(--primary-color);
    border: 3px solid black;
    border-radius: 10px;
    padding: 2rem;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.5em;
}

.step{
    justify-content: center;
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 700px;
    align-items: center;

    & > p{
        width: 500px;
    }
}