
.ingredients{
    margin-top: 1rem;
}

.ingredientList{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.sidebar{
    position: fixed;
    right: 0;
    top: 70px;
    padding: 2rem;
    background-color: rgb(255, 255, 180);
    border-left: 4px solid black;
    width: 20%;
    height: 100vh;
    transition: transform .5s ease-in-out;
}